@font-face {
    font-family: 'rondo';
    src: URL('./rondo.ttf') format('truetype');
}

body {
    font-family: 'rondo';
}

.grid {
    display: grid;
    margin: auto;
    background-color: pink;
    width: 500px;
    height: 500px;
}

.gridElement {
    user-select: none;
    border: 0.1px solid black;
}