@font-face {
    font-family: 'rondo';
    src: URL('./rondo.ttf') format('truetype');
}

@font-face {
    font-family: 'barbie';
    src: url(./barbie.ttf) format('truetype');
}

body {
    font-family: 'barbie';
    letter-spacing: 3px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 50px;
    background-color: #ffe2ed;
    display: flex;
    justify-content: center;
}

.remote {
    background-color: #ffe2ed;
    border: 10px solid #e94196;
    height: 400px;
    width: 200px;
    margin-right: 80px;
    border-radius: 12px;
    box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
}


#color-picker {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 80px;
    height: 80px;
    border: none;
    border-radius: 50%;
}

#color-picker::-webkit-color-swatch {
    border-radius: 50%;
    border: none;
    box-shadow: 6px 5px 8px 0.5px rgba(0,0,0,0.5);
}
#color-picker::-moz-color-swatch {
    border-radius: 50%;
    border: none;
    box-shadow: 6px 5px 8px 0.5px rgba(0,0,0,0.5);
}

.remote button {
    width: 120px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #e94196;
    padding: 12px 32px;
    background-color: #ffe2ed;
    font-family: 'barbie';
    font-size: 18px;
    color: #e94196;
    letter-spacing: 3px;
    box-shadow: 6px 5px 8px 0.5px rgba(0,0,0,0.5);
}
.remote button:active {
    color: #ffe2ed;
    background-color: #e94196;
}

.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#slider {
    margin: 0 0 15px 0;
    -webkit-appearance: none;
    background-color: #e94196;
    border-radius: 8px;
    width: 150px;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #ffe2ed;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #e94196;
}

.slider .grid-value {
    margin: 8px 0 0 0;
    font-family: 'rondo';
    color: #e94196;
    font-size: 24px;
}

.frame {
    background-color: #e94196;
    height: 600px;
    width: 550px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 3rem solid #e94196;
    border-right: 3rem solid #e94196;
}

.frame .title {
    padding: 10px;
    padding-top: 14px;
    font-size: 48px;
    color: #ffe2ed;
}

.grid {
    display: grid;
    margin: auto;
    background-color: #ffe2ed;
    width: 500px;
    height: 550px;
    border-radius: 4px;
}


.gridElement {
    user-select: none;
    border: 0.1px solid black;
}

.container {
    display: flex;
    align-items: center;
}

.container button {
    margin: 35px;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    padding: 6px 20px;
    box-shadow: 6px 5px 8px 0.5px rgba(0,0,0,0.5);
    font-family: 'rondo';
    font-size: 18px;
}

.knob {
    height: 75px;
    width: 75px;
    background-color: #ffe2ed;
    box-shadow: 6px 5px 8px 0.5px rgba(0,0,0,0.5);
    border-radius: 50%; 
    text-align: center;
    font-weight: 100px;
}

#left-knob {
    margin-right: 160px;
}

#right-knob {
    margin-left: 160px;
}

